@font-face {
  font-family: NeueMontreal;
  src: url(fonts/NeueMontreal-Regular.ttf);
}
html {
  height: 100%;
}
#mySidebar{
  background-color: red;
}
header{
  background-color: red;
}
#carrusel{
  height: 100%;
  font-size: 4em;
  width: auto;
  margin-bottom: -.1em;
  margin-top: -.1em;
  font-family:'NeueMontreal';
  color: #ffffff;
}
#carrusel-footer, p{
  font-size: 1em;
  line-height: 1em;
  font-family: 'NeueMontreal';
  padding-left: 2em;
  padding-right: 2em;
}
#info{
  font-family: 'NeueMontreal';
  padding: 0;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color:firebrick;
  font-family: 'NeueMontreal';
}
ul, ol {
  margin: 0;
  padding: 0 0 0 1em;
}
blockquote {
  margin: 0;
  padding: 0 0 0 2em;
}
hr {
  background: rgba(0, 0, 0, 0.86);
  border: 0;
  height: 1px;
  display: block;
}
img {
  border: 0;
  padding: 0;
  margin-bottom: -7px;
}
.content img {
  float: none;
  margin-bottom: 0;
  vertical-align: bottom;
  justify-content: stretch;
}
h1 {
  text-align: left;
  font-family: 'NeueMontreal';
  font-style: normal;
  font-weight: normal;
  font-size: 0.3rem;
  line-height: 0.9rem;
  letter-spacing: -.005rem;
}
.menu{
  font-style: normal;
  color: white;
  font-family: 'NeueMontreal';
  font-size: 3rem;
}
a:link{
  text-decoration: none;
}
